# Ignores all files and directories listed below
Step18_ML_Prediction/hg38.chrom.sizes
Step18_ML_Prediction/venv/
Step18_ML_Prediction/myenv
Step18_ML_Prediction_Regression/myenv
Step19_ML_UpDEG_Prediction/venv
Step19_ML_UpDEG_Prediction/Miniconda3-latest-Linux-x86_64.sh
Step19_ML_UpDEG_Prediction_SRA/Miniconda3-latest-Linux-x86_64.sh
.RDataTmp
.RDataTmp1
VennDiagram.2025-10-15_16-54-33.301115.log
VennDiagram.2025-10-15_16-56-29.168643.log
VennDiagram.2025-10-15_16-57-00.929852.log
.Rhistory
.RData
